.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #d6d6d6 !important;
}

.tableContainer__table {
  background-color: white;
  border-radius: 0.25rem;
  padding: 2em;
}
